@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f1f1f1;
}

.main__button {
  @apply w-1/3 px-2 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2;
}
